<!DOCTYPE html>

<% include partials/header2.ejs %>
<div class="container" style="margin: 20px; ">
    <div class="row">
    <div class="col-lg-7">
    <div class="bloc" style="border: solid 2px; border-color: #E6E6E6;">
        <div class="bloc">
            <h2 class="title" style="color: black"><%= ann.title%></h2>
            <p class="picture">
                <img src="/uploads/<%= ann.picture%>" style="" alt="">
            </p>
        </div>
        <div>
            <p class="id"><%= ann.id%></p>
        </div>
        <div>
            <p class="price" style="background-color: #E6E6E6; height: 50px;"><%= ann.price%> &euro;</p></div>
        <div>
            <p class="city" style="background-color: #E6E6E6; height: 50px;"><%= ann.town%></p>
        </div>
        <div>
            <p class="description">
                <%= ann.description%>
            </p>
        </div>


       
    </div>
    </div>
    <div class="col-lg-5">
    <div class="bloc" style="border: solid 2px; border-color: #E6E6E6;">
        <div class="bloc">
            <div class="id" style="margin: 20px; background-color: #E6E6E6; height: 50px; text-align: center;"> 
                <%= ann.id%>
            </div>
            <div>
                <p class="telephone" style="margin: 20px; background-color: orange; color: white; text-align: center; height: 50px;">
                    <%= ann.telephone%>
                </p>
            </div>
        
        </div>
    </div>
    </div>
    </div>

</div>

</body>

</html>

