<% include partials/header.ejs %>

<div class="bloc">
   <%=ann.title%>
   <%=ann.picture%>
   <%=ann.id%>
   <%=ann.town%>
   <%=ann.price%>
   <%=ann.description%>
   <img src="/uploads/<%=ann.picture%>" >
    
</div>


