<% include partials/header.ejs %>
<div class="container">
    <% for (var i = 0; i < ann.length; i++) { %>
                <div class="row bloc">
                    <div class="col-lg-4 offres">
                        <a href="/annonce/<%= ann[i]._id %>">
                            <img src="/uploads/<%= ann[i].photo%>" />
                        </a>
                    </div>
                    <div class="col-lg-8 offres">
                        <p class="title">
                            <%= ann[i].title%>
                        </p>
                        <p>
                            <%= ann[i].city%>
                        </p>
                        <p class="price">
                            <%= ann[i].price%> &euro;</p>
                    </div>
                </div>

    <% } %>
</div>

<% include partials/footer.ejs %>